body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div {
  padding: 0.5em 0;
}

.spinner {
  display: flex;
}

#spinner-text {
  text-align: center;
  font-size: 12em;
  margin-left: -2em;
}